In [2]:
import pandas as pd
dataset = pd.read_csv('uci_malware_detection1.csv')

In [9]:
dataset.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [10]:
dataset.get("feature_names")